<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ config.title }}</title>
    <meta name="description" content="{{ config.description }}">
    <link rel="stylesheet" href="{{ get_url(path='css/main.css') }}">
    <link rel="stylesheet" href="{{ get_url(path='css/copy-code.css') }}">
</head>

<body>
    <div class="page-layout">
        <nav class="sidebar" aria-label="Main navigation">
            <div class="container">
                <div class="site-brand sidebar-brand">
                    <img src="{{ get_url(path='img/LOGO_EGOBOX_v4_100x100.png') }}" alt="EGObox logo" class="site-logo">
                    <h1>{{ config.title }}</h1>
                </div>
                <ul>
                    <li><a href="{{ config.base_url }}" class="main-nav-link">Home</a></li>
                    <li><a href="{{ config.base_url }}/getting-started/" class="main-nav-link">Getting Started</a></li>
                    <li><a href="{{ config.base_url }}/examples/" class="main-nav-link">Examples</a></li>
                    <li><a href="{{ config.base_url }}/tutorials/" class="main-nav-link">Tutorials</a></li>
                    <li><a href="{{ config.base_url }}/cookbook/" class="main-nav-link">Cookbook</a></li>
                    <li><a href="{{ config.base_url }}/python-api/" class="main-nav-link">Python API</a></li>
                    <li><a href="{{ config.base_url }}/reference/" class="main-nav-link">Reference</a></li>
                </ul>
            </div>
        </nav>
        <main class="content">
            <div class="container">
                {% block content %} {% endblock content %}
            </div>
        </main>
    </div>
    <footer>
        <div class="container">
            <p>&copy; 2026 {{ config.extra.author }}. Distributed under MIT License.</p>
        </div>
    </footer>
    <script src="{{ get_url(path='js/copy-code.js') }}"></script>
    <script src="{{ get_url(path='js/nav-sections.js') }}"></script>
</body>

</html>