name: pytest

on:   
  pull_request:
    branches: [ master ]
  push:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always

jobs:

  pytest:
    name: python${{ matrix.python-version }}-${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      max-parallel: 16
      matrix:
        python-version: ["3.11", "3.12"]
        os: 
          - ubuntu-latest
          - windows-latest
          - macos-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          default: true

      - name: Log active toolchain
        run: rustup show

      - name: Install test dependencies
        run: |
          python -m pip install --upgrade pip
          pip install uv

      - name: Test Python
        run: |
            uv run maturin develop --release
            uv run pytest
        shell: bash

    env:
      RUST_BACKTRACE: 1
