name: pytests

on: [push, pull_request]

env:
  CARGO_TERM_COLOR: always

jobs:

  pytest:
    name: python${{ matrix.python-version }}-${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      max-parallel: 16
      matrix:
        python-version: [3.7, 3.8, 3.9]
        os: 
          - ubuntu-latest
          - windows-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          default: true

      - name: Log active toolchain
        run: rustup show

      - name: Install LLVM and Clang on Windows
        if: ${{ matrix.os == 'windows-latest' }} 
        uses: KyleMayes/install-llvm-action@v1
        with:
          version: "11.0"
          directory: ${{ runner.temp }}/llvm

      - name: Build with default features
        run: cargo build --release

      - name: Install test dependencies
        run: |
          python -m pip install --upgrade pip
          pip install maturin numpy pytest

      - name: Test Python
        run: |
            maturin develop --release --cargo-extra-args="--features linfa/intel-mkl-static"
            pytest
        shell: bash

    env:
      RUST_BACKTRACE: 1
