name: tests

on: 
  pull_request:
    branches: [ master ]
  push:
    branches: [ master ]
  
env:
  CARGO_TERM_COLOR: always

jobs:

  test:
    name: testing-${{ matrix.toolchain }}-${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        toolchain:
          - stable
        os: 
          - ubuntu-latest
          - windows-latest
          - macos-latest
        include:
          - toolchain: 1.88.0  # test MSRV
            os: ubuntu-latest

    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Install toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: ${{ matrix.toolchain }}
          override: true

      - name: Log active toolchain
        run: rustup show

      - name: Run cargo test in release mode
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --all --release

  test-features:
    name: testing-features-${{ matrix.toolchain }}-${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        toolchain:
          - stable
        os: 
          - ubuntu-latest

    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Install toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: ${{ matrix.toolchain }}
          override: true

      - uses: actions/setup-python@v6
        with:
          python-version: '3.12' 

      - name: Log active toolchain
        run: rustup show

      - name: Run cargo test in release mode
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --all --release --features persistent-moe,nlopt,blas,linfa/intel-mkl-static


