name: tests

on: [push, pull_request]

env:
  CARGO_TERM_COLOR: always

jobs:

  test:
    name: testing
    runs-on: ubuntu-latest
    strategy:
      matrix:
        toolchain:
          - stable
        platform: [
          { os: "ubuntu-latest", python-architecture: "x64", rust-target: "x86_64-unknown-linux-gnu" },
          { os: "windows-latest", python-architecture: "x64", rust-target: "x86_64-pc-windows-msvc" },
        ]
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2

      - name: Install ubuntu packages
        run: sudo apt-get install libssl-dev gfortran libopenblas-dev liblapack-dev liblapacke-dev libatlas-base-dev

      - name: Install toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: ${{ matrix.toolchain }}
          override: true

      - name: Run cargo test in release mode
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --all --release
        env:
          RUSTFLAGS: -C link-arg=-llapacke -C link-arg=-lcblas
